.ipynb_checkpoints/
self_guided_ab_testing.md
self_guided_KPIs_metrics.md
df_final_web_data_pt_2.csv
df_final_web_data_pt_1.csv
df_final_experiment_clients.csv
df_final_demo.csv
Streamlit.md
demog.csv
web_data.csv
final_ex.csv
test_group.csv
control_group.csv
pro_start.csv
pro_confirm.csv


